UfoDataCenter.data/obj/
UfoDataCenter.info/obj/
packages/
UfoDataCenter.data/bin/
UfoDataCenter.info/UfoDataCenter.info/bin/
UfoTest/
UfoDataCenter.info/UfoDataCenter.info/obj/
UfoAPI/bin/
UfoAPI/obj/
API/bin/
API/obj/
