<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UfoDataCenter.info.Properties.Settings.ufo_dataConnectionString"
            connectionString="Data Source=FEVREDREAM\SQLEXPRESS;Initial Catalog=ufo_data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>